.top{
    width: 1000px;
    height: 100px;
    background: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner1, .inner2, .cnt2-1, .top {
    box-sizing: border-box;
}
.brd-5{
    border: 5px solid black;
}
.container, .top2-2, .inner2-cnt, .cnt2-1 {
    display: flex;

}
.inner1{
    width: 200px;
    background: #5ea5d8;

}
.inner2{
    width: 800px;
    background: #1ea8a8;
}

.inner2-top{
    margin: 40px;
}
.top2-1{
    width: 700px;
    height: 300px;
    background: silver;
    border: 2px solid slateblue;
}
.top2-2{
    justify-content: space-evenly;
}
.cnt2-1{
    flex-wrap: wrap;
}
.box1{
    width: 150px;
    height: 50px;
    background: silver;
    border: 2px solid slateblue;
    margin: 20px;

}
.box2{
    width: 200px;
    height: 50px;
    background: silver;
    border: 2px solid slateblue;
    margin: 20px;

}
.end1{
    width: 700px;
    height: 50px;
    background: silver;
    border: 2px solid slateblue;
}
.inner2-end{
    height: 250px;
    width: 800px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .top, .container{
        width: 100%;
    }
    .inner1, .box5{
        display: none;
    }
    .inner2-cnt{
        flex-direction: column;
    }
    .top2-2{
    flex-wrap: wrap}
    .box3{
        width: 300px;
        height: 150px;
    }
    .box4{
        width: 300px;
        height: 100px;
    }
    .dsp-fl{
        display: flex;
    }
    .box6{
        width: 400px;
        height: 200px;
    }
}